In [1]:
from StatementsFetcher import StatementsFetcher

In [2]:
sf = StatementsFetcher()

In [11]:
# [income_df, balance_df, cashflow_df] = sf.fetch_statements(2005, 1, 2005, 1, "AAPL")
sf.fetch_statements(1994, 7, 1994, 8, "AAPL")

Pobieram 1994Q3...

[╭─────────────────── Form 10-Q Apple Inc. [320193]  ────────────────────╮
│                                                                       │
│   Accession Number       Filing Date   Period of Report   Documents   │
│  ───────────────────────────────────────────────────────────────────  │
│   0000320193-94-000013   1994-08-12    1994-07-01         2           │
│                                                                       │
╰─ Quarterly report for public companies • filing.docs for usage guide ─╯
]
TEXT
[                                                Label        1994        1993
0   Net sales                  $2,149,908 $ 1,861,979  6695462.00  5836165.00
1   Cost of sales               1,576,036   1,255,975  5030502.00  3658473.00
2   Research and development      135,439     174,169   422193.00   500458.00
3         administrative\t\t      332,867     417,645  1037759.00  1253193.00
4   Restructuring costs         (126,855)     320,856  -126855.00   320856.00
5                               1,917,487   2,168,645  6363599.00  5732980.00
6   Operating income (loss)       232,421   (306,666)   331863.00   103185.00
7      (expense), net             (9,678)       2,931   -16504.00    32176.00
8           income taxes\t\t      222,743   (303,735)   315359.00   135361.00
9      (benefit)                   84,642   (115,419)   119836.00    51436.00
10  Net income (loss)           $ 138,101  $(188,316)   195523.00    83925.00
11     equivalent share         $    1.16  $   (1.63)        1.65        0.70
12   common share                $     .12  $     .12        0.36        0.36
13     earnings (loss) per share  118,860     115,669   118253.00   119969.00,                                         Label       1994       1993
0                   Cash and cash equivalents  1141695.0   676413.0
1                      Short-term investments    86599.0   215890.0
2                             Purchased parts   486560.0   504201.0
3                             Work in process   179401.0   284440.0
4                              Finished goods   531099.0   717997.0
5                                   1,197,060  1506638.0        NaN
6                        Prepaid income taxes   256945.0   268085.0
7                        Other current assets   300607.0   289383.0
8                        Total current assets  4259989.0  4338355.0
9                          Land and buildings   470683.0   404688.0
10                    Machinery and equipment   560201.0   578272.0
11             Office furniture and equipment   158498.0   167905.0
12                     Leasehold improvements   236495.0   261792.0
13                                  1,425,877  1412657.0        NaN
14  Accumulated depreciation and amortization  -760895.0  -753111.0
15         Net property, plant, and equipment   664982.0   659546.0
16                               Other assets   198441.0   173511.0
17                                 $5,123,412  5171412.0        NaN,                                          Label       1994       1993
0                                Notes payable   515608.0   823182.0
1                             Accounts payable   696032.0   742622.0
2   Accrued compensation and employee benefits   129665.0   144779.0
3           Accrued marketing and distribution   155690.0   174547.0
4                  Accrued restructuring costs    75189.0   307932.0
5                    Other current liabilities   345303.0   315024.0
6                    Total current liabilities  1917487.0  2508086.0
7                               Long-term debt   304815.0     7116.0
8                        Deferred income taxes   655995.0   629832.0
9                            Retained earnings  1995836.0  1842600.0
10          Accumulated translation adjustment   -15474.0   -19835.0
11                  Total shareholders' equity  2245115.0  2026378.0
12                                  $5,123,412  5171412.0        NaN,                                            Label       1994       1993
0                                  of the period   676413.0   498557.0
1                                     Net income   195523.0    83925.0
2                  Depreciation and amortization   122338.0   123636.0
3                      and equipment retirements    10469.0     6243.0
4                            Accounts receivable   104863.0  -178174.0
5                                    Inventories   309578.0  -658561.0
6                           Prepaid income taxes    11140.0  -105801.0
7                           Other current assets   -11224.0   -78087.0
8                               Accounts payable   -46590.0   232611.0
9                    Accrued restructuring costs  -232743.0   275199.0
10                     Other current liabilities     5440.0     7805.0
11                         Deferred income taxes    26163.0    39465.0
12                                    operations   494957.0  -251739.0
13            Purchase of short-term investments  -257228.0 -1359796.0
14          Proceeds from short-term investments   386519.0  1833112.0
15    Purchase of property, plant, and equipment  -123375.0  -165407.0
16                                         Other   -35437.0   -27772.0
17                         investment activities   -29521.0   280137.0
18  Increase (decrease) in short-term borrowings  -307574.0   123718.0
19   Increase (decrease) in long-term borrowings   297699.0   -10225.0
20                  receivable from shareholders    52008.0    67850.0
21                    Repurchase of common stock        NaN  -273458.0
22                                Cash dividends   -42287.0   -41656.0
23            Cash used for financing activities     -154.0  -133771.0
24                   Total cash generated (used)   465282.0  -105373.0
25                                    the period  1141695.0   393184.0,                                      Label      1994
0                       inventory reserves  123158.0
1   Accrued liabilities and other reserves  170632.0
2  Basis of capital assets and investments   79104.0
3                Total deferred tax assets  372894.0
4      Unremitted earnings of subsidiaries  707242.0
5                                    Other   27399.0
6           Total deferred tax liabilities  734641.0
7               Net deferred tax liability  361747.0, Empty DataFrame
Columns: [Label]
Index: [], Empty DataFrame
Columns: [Label]
Index: [], Empty DataFrame
Columns: [Label]
Index: [], Empty DataFrame
Columns: [Label]
Index: [], Empty DataFrame
Columns: [Label]
Index: [], Empty DataFrame
Columns: [Label]
Index: [],                           Label   1994
0  Cash generated by operations  495.0
1              term investments  159.0]

In [6]:
income_df

,Label,Net sales,Net sales,1495,1431,2870,2438
0,Cost of sales,Cost of sales,Cost of sales,1086,1046,2039,2074
1,NaN,Gross margin,Gross margin,409,385,831,364
2,Operating expenses:,Operating expenses:,Operating expenses:,NaN,NaN,NaN,NaN
3,NaN,Research and development,Research and development,111,101,224,203
4,NaN,"Selling, general, and administrative","Selling, general, and administrative",270,292,559,589
5,NaN,Restructuring costs,Restructuring costs,<NA>,<NA>,24,<NA>
6,NaN,NaN,Total operating expenses,381,393,807,792
7,NaN,Operating income (loss),Operating income (loss),28,(8,24,(428
8,NaN,"Gains on non-current investments, net","Gains on non-current investments, net",<NA>,5,23,76
9,NaN,Urealized loss on convertible securities,Urealized loss on convertible securities,<NA>,<NA>,<NA>,(13
10,NaN,"Interest and other income, net","Interest and other income, net",27,65,61,132
11,NaN,NaN,"Total interest and other income, net",27,70,84,195
12,NaN,Income (loss) before provision for (benefit fr...,Income (loss) before provision for (benefit fr...,55,62,108,(233
13,NaN,Provision for (benefit from) income taxes,Provision for (benefit from) income taxes,15,19,30,(69
14,NaN,Income (loss) before accounting change,Income (loss) before accounting change,40,43,78,(164
15,NaN,"Cumulative effect of accounting change, net of...","Cumulative effect of accounting change, net of...",<NA>,<NA>,<NA>,12
16,NaN,Net income (loss),Net income (loss),40,43,78,(152
17,Earnings (loss) per common share before accoun...,Earnings (loss) per common share before accoun...,Earnings (loss) per common share before accoun...,NaN,NaN,NaN,NaN
18,NaN,Basic,Basic,0.11,0.12,0.22,(0.48
19,NaN,Diluted,Diluted,0.11,0.12,0.22,(0.48
20,Earnings (loss) per common share after account...,Earnings (loss) per common share after account...,Earnings (loss) per common share after account...,NaN,NaN,NaN,NaN
21,NaN,Basic,Basic,0.11,0.12,0.22,(0.44
22,NaN,Diluted,Diluted,0.11,0.12,0.22,(0.44
23,Shares used in computing earnings (loss) per s...,Shares used in computing earnings (loss) per s...,Shares used in computing earnings (loss) per s...,NaN,NaN,NaN,NaN
24,NaN,Basic,Basic,353480,346080,352405,342179
25,NaN,Diluted,Diluted,365969,352812,361622,342179

In [5]:
balance_df

,Label,"March 26, 2005","March 26, 2005","September 25, 2004","September 25, 2004"
0,Cash and cash equivalents,<NA>,2254,<NA>,2969
1,Short-term investments,4803,4803,2495,2495
2,"Accounts receivable, less allowances of $51 a...",888,888,774,774
3,Inventories,164,164,101,101
4,Deferred tax assets,297,297,231,231
5,Other current assets,601,601,485,485
6,Total current assets,9007,9007,7055,7055
7,"Property, plant and equipment, net",742,742,707,707
8,Goodwill,80,80,80,80
9,Acquired intangible assets,33,33,17,17
10,Other assets,249,249,191,191
11,Total assets,<NA>,10111,<NA>,8050
12,Accounts payable,<NA>,1773,<NA>,1451
13,Accrued expenses,1579,1579,1200,1200
14,Total current liabilities,3352,3352,2651,2651
15,Non-current liabilities,373,373,323,323
16,Total liabilities,3725,3725,2974,2974
17,"Common stock, no par value; 1,800,000,000 sha...",3195,3195,2514,2514
18,Deferred stock compensation,(70,(70,(93,(93
19,Retained earnings,3255,3255,2670,2670
20,Accumulated other comprehensive income (loss),6,6,(15,(15
21,Total shareholders’ equity,6386,6386,5076,5076
22,Total liabilities and shareholders’ equity,<NA>,10111,<NA>,8050

In [6]:
cashflow_df

,Label,Six Months Ended,Six Months Ended,Six Months Ended,Six Months Ended
0,NaN,"March 26, 2005","March 26, 2005","March 27, 2004","March 27, 2004"
1,"Cash and cash equivalents, beginning of the p...",<NA>,2969,<NA>,3396
2,Net income,585,585,109,109
3,"Depreciation, amortization, and accretion",82,82,69,69
4,Stock based compensation expense,20,20,13,13
5,Provision for (benefit from) deferred income ...,13,13,(4,(4
6,Tax benefit from stock options,275,275,12,12
7,"Loss on disposition of property, plant, and e...",4,4,<NA>,<NA>
8,Gains on non-current investments,<NA>,<NA>,(4,(4
9,"Accounts receivable, net",(114,(114,181,181
10,Inventories,(63,(63,(7,(7
11,Other current assets,(116,(116,(17,(17
12,Other assets,(56,(56,(25,(25
13,Accounts payable,322,322,(163,(163
14,Other liabilities,359,359,116,116
15,Cash generated by operating activities,1311,1311,280,280
16,Purchases of short-term investments,"(5,304","(5,304",(976,(976
17,Proceeds from maturities of short-term invest...,2750,2750,660,660
18,Proceeds from sales of short-term investments,242,242,52,52
19,Proceeds from sales of non-current investments,<NA>,<NA>,5,5
20,"Purchases of property, plant, and equipment",(101,(101,(79,(79
21,Other,(19,(19,12,12
22,Cash used for investing activities,"(2,432","(2,432",(326,(326
23,Payment of long-term debt,<NA>,<NA>,(300,(300
24,Proceeds from issuance of common stock,406,406,108,108
25,Cash generated by (used for) financing activi...,406,406,(192,(192
26,Decrease in cash and cash equivalents,(715,(715,(238,(238
27,"Cash and cash equivalents, end of the period",<NA>,2254,<NA>,3158
28,Cash paid for interest,<NA>,<NA>,<NA>,10
29,"Cash paid for income taxes, net",<NA>,47,<NA>,15